.cards-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
}
.card-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease-in-out;

  .card-img:hover {
    transform: scale(1.2);
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 5rem;
  gap: 1rem;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
.card-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.card .swiper-pagination-bullet-active {
  background-color: white !important;
}
.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.sub-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sub-detail p {
  font-size: 15px;
  color: grey;
  font-weight: 300;
  padding-bottom: 5px;
}
